html {
	--main-color: white;
	--accent-color: #dedede;
	--text-color: black;
	--book-color: #34A3D3;
	font: 14px Helvetica, "Lucida Grande", Arial, sans-serif;
	background-color: var(--main-color);
	color: var(--text-color);
}

* {
	box-sizing: border-box;
}

/* hide scrollbar while retaining functionality*/
body::-webkit-scrollbar {
	display:none;
}

.content {
	width: 100%;
	max-width: 350px;
	padding: 0 1em 0 1em;
}

.content > * {
	margin-bottom: 20px;
}

/***************************** UTILS ************************************/

/* add a bit of spacing */
.center {
  margin: 0 auto 0 auto;
}

.hide {
	display: none !important;
}

/***************************** SPINNY THING ***********************************/

.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 5;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2em;
}

.loader-spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 10em;
  height: 10em;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/**************************************** FAB ********************************/

div.fab {
	position: fixed;
	right: 16px;
	bottom: 16px;
	z-index: 10;

	width: 56px;
	height: 56px;

	border: 3px solid var(--accent-color);
	border-radius: 100%;

	background-color: var(--main-color);
	display: flex; /*somehow this makes the svg center-align properly*/

	cursor: pointer;

}

svg.fab-svg {
	margin: auto;
	fill: var(--text-color);
}

.shadow {
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

/*************************************** BOOK *********************************/

.book {
	width: fit-content;
	margin-top: 5vh;
	margin-bottom: 5vh;
	cursor: pointer;
}

/* color the front page */
.book-front {
	fill: var(--book-color);
}

/*************************************** SEARCH *******************************/
.search {
	width: 100%;
	border: 3px solid var(--accent-color);
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	height: 45px;
}

.search-text {
	padding: 0 0 0 1em;
	border-style: none;
	height: 100%;
	width: 87%;
	background-color: white;
	color: black;
}

.search .submit {
	background-color: white !important;
	border: none;
	padding: 0;
	width: 13%;
	height: 100%;

	cursor: pointer;
}

.search .svg {
	outline: none;
	fill: dimgrey;
	width: 25px;
	padding: inherit;
	height: auto;
}

/* remove outline on focus */
form:focus, input:focus {
  outline: none;
}

/* remove default highlighting in webkit browsers */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  background-color: white !important; /* does not work */
  -webkit-box-shadow: 0 0 0px 1000px white inset; /* workaround to set color */
  -webkit-text-fill-color: black;
}

/******************************* ENTRIES **************************************/

.entry {
	width: 100%;
}

.entry-word {
	padding-bottom: .4em;
	border-bottom: var(--accent-color) 2px solid;
}

.entry-meaning {
	/* 	potential styles go here */
}

.entry-meaning-type {
	font-style: italic;
	padding-right: 1ex;
}

.entry-meaning-text {
	/* potential styles go here */
}

.res-notification {
  margin: 3em auto;
  font-weight: bold;
  text-align: center;
}

/***************************** FOOTER ****************************************/

footer {
	background-color: var(--accent-color);
	color: var(--text-color);

	padding: 2em;
	width: 100%;
}

footer > p.footer-content {
	margin: 0;
}

/* keep footer at bottom */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
	margin: 0;
}

.theme-button {
	background-color: var(--main-color);
	border:2px solid var(--main-color);
	border-radius: 3px;
	display:inline-block;
	cursor:pointer;
	color:var(--text-color);
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
.theme-button:hover {
	filter:brightness(85%);
}
.theme-button:active {
	position:relative;
	top:1px;
	outline: none;
}
.theme-button:focus {
	outline: none;
}
